<div class="list-group">
  
  <%= link_to listing_room_path, class: "list-group-item list-group-item-action" do %>
    基本情報
    <span><i class="fas fa-check float-right"></i></span>
  <% end %>

  <%= link_to pricing_room_path, class: "list-group-item list-group-item-action" do %>
    料金
    <% if !(@room.price.blank?) %>
      <span><i class="fas fa-check float-right"></i></span>
    <% end %> 
  <% end %>

  <%= link_to description_room_path, class: "list-group-item list-group-item-action" do %>
    説明
    <% if !(@room.listing_name.blank?) %>
      <span><i class="fas fa-check float-right"></i></span>
    <% end %> 
  <% end %>

  <%= link_to photo_upload_room_path, class: "list-group-item list-group-item-action" do %>
    写真
    <% if !(@room.photos.blank?) %>
      <span><i class="fas fa-check float-right"></i></span>
    <% end %> 
  <% end %>

  <%= link_to amenities_room_path, class: "list-group-item list-group-item-action" do %>
    アメニティ・設備
    <span><i class="fas fa-check float-right"></i></span>
  <% end %>

  <%= link_to location_room_path, class: "list-group-item list-group-item-action" do %>
    場所
    <% if !(@room.address.blank?) %>
      <span><i class="fas fa-check float-right"></i></span>
    <% end %> 
  <% end %>

</div>
