<div class="list-group">
  <%= link_to "リスティング", listing_room_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "料金", pricing_room_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "説明", description_room_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "写真", photo_upload_room_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "アメニティ・設備", amenities_room_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "場所", location_room_path, class: "list-group-item list-group-item-action" %>
</div>