<div class="list-group">
  
  <div class="list-group-item">
    <%= link_to "基本情報", listing_room_path, class: "list-group-item-action"%>
    <span><i class="fas fa-check float-right"></i></span>
  </div>
  <div class="list-group-item">
    <%= link_to "料金", pricing_room_path, class: "list-group-item-action" %>
    <% if @room.price.blank?   %>
      <span><i class="fas fa-check float-right"></i></span>
    <% end %>
  </div>
  <div class="list-group-item">
    <%= link_to "説明", description_room_path, class: "list-group-item-action" %>
    <span><i class="fas fa-check float-right"></i></span>
  </div>
  <div class="list-group-item">
    <%= link_to "写真", photo_upload_room_path, class: "list-group-item-action" %>
    <span><i class="fas fa-check float-right"></i></span>
  </div>
  <div class="list-group-item">
    <%= link_to "アメニティ・設備", amenities_room_path, class: "list-group-item-action" %>
    <span><i class="fas fa-check float-right"></i></span>
  </div>
  <div class="list-group-item">
    <%= link_to "場所", location_room_path, class: "list-group-item-action" %>
    <span><i class="fas fa-check float-right"></i></span>
  </div>
</div>
