<div class="row">
  <div class="col-md-3">
    <%= render "room_menu" %>
  </div>

  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        利用できるアメニティ・設備
      </div>
      <div class="card-body">
        <div class="container">
          <%= form_with model: @room do |f| %>
            <div class="row form-group">
              <div class="col-md-4">
                <%= f.check_box :is_tv %>テレビ
              </div>

              <div class="col-md-4">
                <%= f.check_box :is_kitchen %>キッチン
              </div>

              <div class="col-md-4">
                <%= f.check_box :is_internet %>インターネット
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-4">
                <%= f.check_box :is_heating %>暖房
              </div>

              <div class="col-md-4">
                <%= f.check_box :is_air %>エアコン
              </div>
            </div>

            <br>
            <div class="text-center">
              <%= f.submit "保存", class: "btn btn-form" %>
            </div>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>