<div class="card">
  <div class="card-header">
    物件の基本情報を入力してください。
  </div>
  <div class="card-body">
    <div class="container">
      <%= form_for @room do |f| %>
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>建物のタイプ</label>
              <%= f.select :home_type, [["アパート", "Apartment"], ["住宅", "House"], ["ホテル", "Bed & Breakfast"]],
                            id: "home_type", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>部屋のタイプ</label>
              <%= f.select :room_type, [["まるまる貸し切り", "Entire"], ["個室", "Private"], ["シェアルーム", "Shared"]],
                            id: "room_type", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>宿泊可能な人数</label>
              <%= f.select :accommodate, [["1", 1], ["2", 1], ["3", 1], ["4+", 4]],
                            id: "accommodate", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>ベッドの数</label>
              <%= f.select :bed_room, [["1", 1], ["2", 1], ["3", 1], ["4+", 4]],
                            id: "bed_room", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>バスルームの数</label>
              <%= f.select :bath_room, [["1", 1], ["2", 1], ["3", 1], ["4+", 4]],
                            id: "bath_room", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>
        </div>

        <%= f.submit "保存", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>