<!DOCTYPE html>
<html>
  <head>
    <title>AirTabi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' -->

    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=M+PLUS+Rounded+1c:wght@500&family=Overpass:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    

  </head>
  
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flash' %>
    
    <div class="container pt-5">
      <%= yield %>
    </div>

  </body>
</html>
